body {
    background-color: #eee;
    background-image: url('http://i723.photobucket.com/albums/ww231/mal333/geometry2_zpsfvrefv76.png');
    font-family: 'Helvetica Neue' 'Open Sans' Helvetica Arial sans-serif;
    font-size: 62.5%;
    margin: 0 auto;
    width: 100%;
}

hr {
    border: none;
    border-top: .1em dashed #ccc;
    border-top: .1em dashed rgba(82, 160, 160, .5);
    margin: 1em 0;
}

.main-header h1 {
    color: #c00;
    font-size: 10em;
    font-weight: 100;
    margin: .4em;
    text-align: center;
    text-transform: lowercase;
}

.main-header h1 a { text-decoration: none; }

.main-header h1 a,
.main-header h1 a:visited,
.main-header h1 a:hover {
    color: inherit;
}

.main-footer {
    margin: 0 auto;
    padding: 3em;
    width: 70%;
}

.main-footer p {
    font-size: 1.5em;
    text-align: center;
}

.not-found {
    margin: 0 auto;

    width: 80em;
}

.card {
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);

    border-radius: .1em;

    font-weight: 200;
    line-height: 2em;
    overflow: hidden;
}

.card--padded {
    padding: 1.5em;
}

.card h1 {
    font-size: 2.5em;
    font-weight: 200;

    margin-top: 0;
}

.card  h2 {
    color: #ccb200;
    font-size: 2em;
    font-weight: 200;
    margin: 0;
    text-transform: lowercase;
}

.card .separator::after {
    font-size: 200%;
    content: '·';
    vertical-align: top;
}

.search header {
    margin: 0 auto;
    width: 80em;
}

.search input {
    border: none;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);

    border-radius: .1rem;

    box-sizing: border-box;

    font-size: 4.5em;

    padding: .3em .5em;
    margin: 0 auto;
    width: 100%;
}

.search-results {
    margin-top: 3rem;
}

.search-results ul {
    padding: 0;
}

.search-results li {
    display:         flex;
    display: -webkit-flex;

    list-style-type: none;
    margin: 1em auto;

    transition: all .2s linear;

    width: 70%;
}

.search-results li:hover {
            transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.search-results__poster img {
    width: 10em;
}

.search-results__details {
    display:         flex;
    display: -webkit-flex;

            align-items: center;
    -webkit-align-items: center;

            flex-grow: 1;
    -webkit-flex-grow: 1;

    padding:  3em;
}

.search-results__details__title {
    color: #ccb200;
    font-size: 3em;
    text-decoration: none;

    /* height: 90px; */
    /* line-height: 90px; */
}

.search-results__details a {
    font-weight: 200;
}

.movie {
    margin: 0 auto;
    width: 70%;
}

.movie .card {
    font-size: 2em;
    font-weight: 200;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.movie__summary {
    display: -webkit-flex;
}

.movie__summary__poster {
    padding: 1em;
}

.movie__summary__poster img {
    width: 7em;
}

.movie__summary__details {
    flex-grow: 1;
    -wekit-flex-grow: 1;

    margin-left: 1em;

    padding: 1em;
    width: 80%;
}

.movie__summary__details h1 {
    color: #ccb200;

    line-height: 1.2em;
}

.movie__summary__details p {
    margin: 0;
}

.movie__summary__details p img,
.movie__summary__details p span {
    vertical-align: middle;
}

.movie__summary__details__mpaa-rating {
    height: 25px;
}

.movie__comments header {
    padding: 1.5em 1.5em 1.5em 1.5em;
}

.movie__comments blockquote,
.movie__comments p {
    padding: 0 1.5em 0 1.5em;
}

.movie__comments blockquote {
    color: #6a6a6a;

    font-family: Georgia, serif;
    font-style: italic;

    margin: 2em;
    position: relative;
}

.movie__comments blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -24px;
    top: 10px;
    color: #ccb200;
}

.movie__comments blockquote cite {
    color: #52A0A0;
    font-weight: bold;
    display:block;
}

.movie__comments blockquote cite:before {
    content: "\2014 \2009";
}

.movie__comments input, textarea {
    border: none;

    color: #c00;

    line-height: 150%;

    outline: 0;

    padding: 1em 1.5em;
    width: 100%;
}


.movie__comments input:hover,
.movie__comments input:focus,
.movie__comments textarea:hover,
.movie__comments textarea:focus {
    background-color: #f8f8f8;
}

.movie__comments__author {
    height: 15%;
}

.movie__comments__text {
    height: 30%;
}
